{% extends 'base.html' %}

{% block head %}
<title>Mandarin</title>
<link rel="stylesheet" href="{{url_for('static', filename='styles/learn/global.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/learn/upper-elements.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/learn/practice-area.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/learn/word-menu.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/learn/rating-selection.css')}}">
{% endblock %}

{% block body %}
<h1 style="text-align: center; margin: 0px;">Learn</h1>

<nav id="menu">
    <a href="/words">Words</a>
    <a href="/logout">Log out</a>
    <span id="username"></span>
</nav>

<div id="upper-elements">
    <div id="text-input-container" class="input-container">
        <p>Text: </p>
        <div id="text" class="input-form">
            <input id="text-entry" type="text">
            <button id="text-button" type="button">→</button>
        </div>
    </div>
    
    <div id="link-input-container" class="input-container">
        <p>YouTube link:</p>
        <div id="link" class="input-form">
            <input id="link-entry" type="text">
            <button id="video-button" type="button">→</button>
        </div>
    </div>
    
    <div id="input-buttons">
        <button id="translate-transcript-button" type="button" hidden>Translate Transcript</button>
        <button id="generate-story-button" type="button">Generate Story</button>
        <button id="review-words-button" type="button">Review words <span id="num-due-cards" class="notification"></span></button>
    </div>
</div>

<div id="video-and-translations">
    <div id="video-container">
        <div id="video-location"></div>
    </div>

    <div id="translation-area-container">
        <p id="video-title" hidden></p>
        <div id="translation-area">
            <div id="main-word-info">
                <button id="save-word-button"></button>
            </div>
            <div id="supplemental-word-info"></div>
        </div>
    </div>
</div>

<div id="practice-area-container">
    <span id="location-marker">│</span>
    
    <p id="practice-area"></p>

    <div id="card-rating-selection">
        <button id="rating-again-button" class="card-rating">
            <p>Again</p>
            <span id="rating-again-time"></span>
        </button>
        <button id="rating-hard-button" class="card-rating">
            <p>Hard</p>
            <span id="rating-hard-time"></span>
        </button>
        <button id="rating-good-button" class="card-rating">
            <p>Good</p>
            <span id="rating-good-time"></span>
        </button>
        <button id="rating-easy-button" class="card-rating">
            <p>Easy</p>
            <span id="rating-easy-time"></span>
        </button>

        <button id="exit-review-button">Exit</button>
    </div>

    <div id="word-menu" hidden>
        <p id="word-tooltip-translation"></p>
        <button id="save-word-button" type="button">Save</button>
        <button id="set-index-button" type="button">Set location</button>
    </div>
</div>

<script src="{{url_for('static', filename='scripts/index/main.js')}}" type="module"></script>
{% endblock %}