#information-box {
    position: absolute;;
    max-width: 300px;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
}

#save-word-button {
    /* background-color: lightgray; */
}

#save-word-button:hover {
    /* background-color: gray; */
}