#card-rating-selection {
    display: none;
    gap: 10px;
    justify-self: center;
}

.card-rating {
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 5px;

    p {
        margin-top: 0px;
        margin-bottom: 8px;
    }
}

#rating-again-button {
    border-color: red;
    * {
        pointer-events: none;
    }
}

#rating-hard-button {
    border-color: black;
    * {
        pointer-events: none;
    }
}

#rating-good-button {
    border-color: green;
    * {
        pointer-events: none;
    }
}

#rating-easy-button {
    border-color: blue;
    * {
        pointer-events: none;
    }
}

#exit-review-buttonn {
    margin-top: 100%;
}