body {
    background-color: white;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th {
    text-align: center;
}

td, th {
    width: 200px;
    border-width: 1px;
    border-style: solid;
}

button {
    background-color: white;
    height: 20px;
    border-color: white;
    border-style: none;
    border-radius: 999px;
}

button:hover {
    cursor: pointer;
    background-color: lightgray;
}

#upper-elements {
    display: flex;
    width: 1000px;
    gap: 50px;
}

.text-box {
    border-radius: 999px;
    border-style: solid;
    border-width: 1px;
}

#translation-area {
    min-height: 80px;
    height: auto;
}

#words-area-container {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    min-height: 150px;
    max-height: 250px;
    height: auto;
    overflow-y: auto;
    font-size: large;
}

#words-area {
    margin-top: 0px;
}

#video-title {
    font-size: large;
}

.normal {
    padding-left: 3px;
    border: none;
    text-decoration: none;
    transition: ease;
}

.timestamp:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 3px;
}

.current-time {
    background-color: #bfe6f370;
    border-radius: 6px;
    padding: 3px;
    padding-left: 6px;
    opacity: 1;
}

.word {
    border-radius: 3px;
}
.word:hover {
    cursor: pointer;
}

[data-proficiency='0'] {
    background-color: lightblue;
}
[data-proficiency='0']:hover {
    background-color: #add8e670;
}

[data-proficiency='1'] {
    background-color: #ffdd00;
}
[data-proficiency='1']:hover {
    background-color: #ffdd0070;
}

[data-proficiency='2'] {
    background-color: #ffdd0080;
}
[data-proficiency='2']:hover {
    background-color: #ffdd0030;
}

[data-proficiency='3'] {
    background-color: white;
}
[data-proficiency='3']:hover {
    background-color: lightgray;
}

#location-marker {
    visibility: hidden;
    position: absolute;
    font-size: larger;
    color: red;
    transform: translate(-7px, 1px);
}

.saved-word {
    text-decoration: green underline;
    text-underline-offset: 4px;
}

#word-menu {
    position: absolute;
    background-color: white;
    border: solid 1px;
    border-radius: 13px;
    padding: 5px;
    z-index: 10;
}

#card-rating-selection {
    display: none;
    gap: 10px;
}

.card-rating {
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 5px;
}

#rating-again-button {
    border-color: red;
}

#rating-hard-button {
    border-color: black;
}

#rating-good-button {
    border-color: green;
}

#rating-easy-button {
    border-color: blue;
}