body {
    background-color: white;
}

.upper-elements {
    display: flex;
    width: 1000px;
    gap: 50px;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th {
    text-align: center;
}

td, th {
    width: 200px;
    border-width: 1px;
    border-style: solid;
}

.text-box {
    border-radius: 99999px;
    border-style: solid;
    border-width: 1px;
}

button {
    background-color: white;
    height: 20px;
    border-color: white;
    border-style: none;
    border-radius: 99999px;
}

button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.translation-area {
    min-height: 80px;
    height: auto;
}

.words-area {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    min-height: 150px;
    max-height: 250px;
    height: auto;
    overflow-y: auto;
    font-size: large;
}

.normal {
    padding-left: 3px;
    border: none;
    text-decoration: none;
    transition: ease;
}

.timestamp:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 3px;
}

.current-time {
    background-color: #bfe6f370;
    border-radius: 6px;
    padding: 3px;
    padding-left: 6px;
    opacity: 1;
}

.proficiency-zero {
    border-radius: 3px;
    background-color: lightblue;
}
.proficiency-zero:hover {
    cursor: pointer;
    background-color: #add8e670;
}

.proficiency-one {
    border-radius: 3px;
    background-color: #ffdd00;
}
.proficiency-one:hover {
    cursor: pointer;
    background-color: #ffdd0070;
}

.proficiency-two {
    border-radius: 3px;
    background-color: #ffdd0080;
}
.proficiency-two:hover {
    cursor: pointer;
    background-color: #ffdd0030;
}

.proficiency-three {
    border-radius: 3px;
    background-color: white;
}
.proficiency-three:hover {
    cursor: pointer;
    background-color: lightgray;
}

.location-marker {
    font-size: larger;
    color: red;
}

.saved-word {
    text-decoration: underline;
}

.word-menu {
    position: absolute;
    background-color: white;
    border: solid 1px;
    border-radius: 13px;
    padding: 5px;
    z-index: 10;
}