body {
    background-color: white;
}

.upperElements {
    display: flex;
    width: 1000px;
    gap: 50px;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th {
    text-align: center;
}

td, th {
    width: 200px;
    border-width: 1px;
    border-style: solid;
}

.textBox {
    border-radius: 99999px;
    border-style: solid;
    border-width: 1px;
}

.button {
    background-color: white;
    height: 20px;
    border-color: white;
    border-style: none;
    border-radius: 99999px;
}

.button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.translationArea {
    height: 80px;
}

.words {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    min-height: 150px;
    max-height: 250px;
    height: auto;
    overflow-y: auto;
    font-size: large;
}

.normal {
    padding-left: 3px;
    border: none;
    text-decoration: none;
    transition: ease;
}

.timestamp:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 3px;
}

.currentTime {
    background-color: #bfe6f370;
    border-radius: 6px;
    padding: 3px;
    padding-left: 6px;
    opacity: 1;
}

.proficiencyZero {
    background-color: lightblue;
    border-radius: 3px;
}
.proficiencyZero:hover {
    cursor: pointer;
    background-color: #add8e670;
}

.proficiencyOne {
    border-radius: 3px;
    background-color: #ffdd00;
}
.proficiencyOne:hover {
    cursor: pointer;
    background-color: #ffdd0070;
}

.proficiencyTwo {
    border-radius: 3px;
    background-color: #ffdd0080;
}
.proficiencyTwo:hover {
    cursor: pointer;
    background-color: #ffdd0030;
}

.proficiencyThree {
    border-radius: 3px;
    background-color: white;
}
.proficiencyThree:hover {
    cursor: pointer;
    background-color: lightgray;
}

.locationMarker {
    font-size: larger;
}