{% extends 'base.html' %}

{% block head %}
<title>Sign in</title>
{% endblock %}

{% block body %}
<h1>Sign in</h1>

<a href="/register">Register</a>

<form id="login-form">
    <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required autofocus>
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
    </div>

    <div>
        <button type="submit">Sign in</button>
    </div>

    <div>
        <p id="error-message"></p>
    </div>
</form>

<script src="{{url_for('static', filename='scripts/auth/login.js')}}" type="module"></script>
{% endblock %}