body {
    background-color: white;
}

.words {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    min-height: 150px;
    max-height: 250px;
    height: auto;
    overflow-y: auto;
    font-size: large;
}

.normal {
    text-decoration: none;
}
.currentTime {
    text-decoration: underline;
}

.confidenceZero {
    background-color: lightblue;
    border-radius: 3px;
}
.confidenceZero:hover {
    cursor: pointer;
    background-color: #add8e670;
}

.confidenceOne {
    border-radius: 3px;
    background-color: #ffdd00;
}
.confidenceOne:hover {
    cursor: pointer;
    background-color: #ffdd0070;
}

.confidenceTwo {
    border-radius: 3px;
    background-color: #ffdd0080;
}
.confidenceTwo:hover {
    cursor: pointer;
    background-color: #ffdd0030;
}

.confidenceThree {
    border-radius: 3px;
    background-color: white;
}
.confidenceThree:hover {
    cursor: pointer;
    background-color: lightgray;
}