{% extends 'base.html' %}

{% block head %}
<title>Mandarin</title>
{% endblock %}

{% block body %}
<h1>Program</h1>

<div class="upperElements">
    <div id="inputs">
        <div id="textEntry">
            <p>Text: </p>
            <input id="text" type="text" class="textBox">
            <button id="textButton" type="button" class="button">Submit</button>
        </div>
        
        <div id="linkEntry">
            <p>YouTube link:</p>
            <input id="link" type="text", class="textBox">
            <button id="videoButton" type="button" class="button">Submit</button>
        </div>
        
        <button id="translateTranscriptButton" type="button" class="button">Translate transcript</button>
        <button id="generateStory" type="button" class="button">Generate Story</button>
    </div>

    <div id="hskProgress">
        <table id="hskTable" class="hskTable">
            <tr>
                <th>HSK Level</th>
                <th>Old Levels %</th>
                <th>New Levels %</th>
            </tr>
            <tr>
                <td>HSK 1</td>
                <td id="oldHsk1Percent"></td>
                <td id="newHsk1Percent"></td>
            </tr>
            <tr>
                <td>HSK 2</td>
                <td id="oldHsk2Percent"></td>
                <td id="newHsk2Percent"></td>
            </tr>
            <tr>
                <td>HSK 3</td>
                <td id="oldHsk3Percent"></td>
                <td id="newHsk3Percent"></td>
            </tr>
            <tr>
                <td>HSK 4</td>
                <td id="oldHsk4Percent"></td>
                <td id="newHsk4Percent"></td>
            </tr>
            <tr>
                <td>HSK 5</td>
                <td id="oldHsk5Percent"></td>
                <td id="newHsk5Percent"></td>
            </tr>
            <tr>
                <td>HSK 6</td>
                <td id="oldHsk6Percent"></td>
                <td id="newHsk6Percent"></td>
            </tr>
            <tr>
                <td>HSK 7-9</td>
                <td id="oldHsk7Percent">N/A</td>
                <td id="newHsk7Percent"></td>
            </tr>
        </table>
    </div>
</div>

<br>

<div id="videoLocation"></div>

<div class="translationArea">
    <p id="translation"></p>
</div>

<div id="wordsAreaDiv" class="wordsArea">
    <span id="locationMarker" class="locationMarker" hidden>│</span>
    
    <span id="videoTitle"></span>
    <p id="wordsArea" class="words"></p>
</div>

{% endblock %}