{% extends 'base.html' %}

{% block head %}
<title>Mandarin</title>
{% endblock %}

{% block body %}
<h1 id="program">Mandarin</h1>

<div id="upper-elements">
    <div id="inputs">
        <div id="text">
            <p>Text: </p>
            <input id="text-entry" type="text">
            <button id="text-button" type="button">Enter</button>
        </div>
        
        <div id="link">
            <p>YouTube link:</p>
            <input id="link-entry" type="text">
            <button id="video-button" type="button">Enter</button>
        </div>
        
        <button id="translate-transcript-button" type="button" hidden>Translate Transcript</button>
        <br>
        <button id="generate-story-button" type="button">Generate Story</button>
        <br>
        <button id="review-words-button" type="button">Review words (<span id="num-due-cards"></span>)</button>
    </div>

    <div id="hsk-progress">
        <table id="hsk-table">
            <tr>
                <th>HSK Level</th>
                <th>Old Levels %</th>
                <th>New Levels %</th>
            </tr>
            <tr>
                <td>HSK 1</td>
                <td id="old-hsk-1-percent"></td>
                <td id="new-hsk-1-percent"></td>
            </tr>
            <tr>
                <td>HSK 2</td>
                <td id="old-hsk-2-percent"></td>
                <td id="new-hsk-2-percent"></td>
            </tr>
            <tr>
                <td>HSK 3</td>
                <td id="old-hsk-3-percent"></td>
                <td id="new-hsk-3-percent"></td>
            </tr>
            <tr>
                <td>HSK 4</td>
                <td id="old-hsk-4-percent"></td>
                <td id="new-hsk-4-percent"></td>
            </tr>
            <tr>
                <td>HSK 5</td>
                <td id="old-hsk-5-percent"></td>
                <td id="new-hsk-5-percent"></td>
            </tr>
            <tr>
                <td>HSK 6</td>
                <td id="old-hsk-6-percent"></td>
                <td id="new-hsk-6-percent"></td>
            </tr>
            <tr>
                <td>HSK 7-9</td>
                <td id="old-hsk-7-percent">N/A</td>
                <td id="new-hsk-7-percent"></td>
            </tr>
        </table>
    </div>
</div>

<br>

<div id="video-location"></div>

<div id="translation-area-container">
    <p id="translation-area"></p>
</div>

<span id="video-title"></span>
<div id="words-area-container">
    <span id="location-marker">│</span>
    
    <p id="words-area"></p>

    <div id="card-rating-selection">
        <button id="rating-again-button" class="card-rating">
            <p>Again</p>
            <span id="rating-again-time"></span>
        </button>
        <button id="rating-hard-button" class="card-rating">
            <p>Hard</p>
            <span id="rating-hard-time"></span>
        </button>
        <button id="rating-good-button" class="card-rating">
            <p>Good</p>
            <span id="rating-good-time"></span>
        </button>
        <button id="rating-easy-button" class="card-rating">
            <p>Easy</p>
            <span id="rating-easy-time"></span>
        </button>

        <button id="exit-review-button">Exit</button>
    </div>

    <div id="word-menu" hidden>
        <p id="word-tooltip-translation"></p>
        <button id="save-word-button" type="button">Save</button>
        <button id="set-index-button" type="button">Set location</button>
    </div>
</div>
{% endblock %}