{% extends 'base.html' %}

{% block head %}
<title>Mandarin</title>
{% endblock %}

{% block body %}
<h1 class="program">Program</h1>

<div class="upper-elements">
    <div id="inputs">
        <div id="text-entry">
            <p>Text: </p>
            <input id="text" type="text" class="text-box">
            <button id="text-button" type="button">Enter</button>
        </div>
        
        <div id="link-entry">
            <p>YouTube link:</p>
            <input id="link" type="text", class="text-box">
            <button id="video-button" type="button">Enter</button>
        </div>
        
        <button id="translate-transcript-button" type="button" hidden>Translate Transcript</button>
        <br>
        <button id="generate-story-button" type="button">Generate Story</button>
        <br>
        <button id="practice-words-button" type="button">Practice words</button>
    </div>

    <div id="hsk-progress">
        <table id="hsk-table" class="hsk-table">
            <tr>
                <th>HSK Level</th>
                <th>Old Levels %</th>
                <th hidden>New Levels %</th>
            </tr>
            <tr>
                <td>HSK 1</td>
                <td id="old-hsk-1-percent"></td>
                <td id="new-hsk-1-percent"></td>
            </tr>
            <tr>
                <td>HSK 2</td>
                <td id="old-hsk-2-percent"></td>
                <td id="new-hsk-2-percent"></td>
            </tr>
            <tr>
                <td>HSK 3</td>
                <td id="old-hsk-3-percent"></td>
                <td id="new-hsk-3-percent"></td>
            </tr>
            <tr>
                <td>HSK 4</td>
                <td id="old-hsk-4-percent"></td>
                <td id="new-hsk-4-percent"></td>
            </tr>
            <tr>
                <td>HSK 5</td>
                <td id="old-hsk-5-percent"></td>
                <td id="new-hsk-5-percent"></td>
            </tr>
            <tr>
                <td>HSK 6</td>
                <td id="old-hsk-6-percent"></td>
                <td id="new-hsk-6-percent"></td>
            </tr>
            <tr>
                <td>HSK 7-9</td>
                <td id="old-hsk-7-percent">N/A</td>
                <td id="new-hsk-7-percent"></td>
            </tr>
        </table>
    </div>
</div>

<br>

<div id="video-location"></div>

<div class="translation-area">
    <p id="translation"></p>
</div>

<div id="words-area-container" class="words-area">
    <span id="location-marker" class="location-marker" hidden>│</span>
    
    <span id="video-title"></span>
    <p id="words-area" class="words"></p>

    <div id="word-menu" class="word-menu" hidden>
        <p id="word-tooltip-translation"></p>
        <button id="save-word-button" type="button">Save</button>
        <button id="set-index-button" type="button">Set location</button>
    </div>
</div>

{% endblock %}