body {
    background-color: white;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th {
    text-align: center;
}

td, th {
    width: 200px;
    border-width: 1px;
    border-style: solid;
}

button {
    background-color: white;
    height: 20px;
    border: 1px solid black;
    border-radius: 999px;

    &:hover {
        cursor: pointer;
        background-color: lightgray;
    }

    &:active {
        cursor: pointer;
        background-color: darkgray;
    }
}

input {
    background-color: white;
    border: 1px solid black;
    border-radius: 999px;
    padding-left: 6px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.notification {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(232, 22, 22);
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
}