#translation-area {
    min-height: 80px;
    height: auto;
}

#words-area-container {
    position: relative;
    border: solid 1px lightgray;
    padding: 3px;
    min-height: 144px;
    max-height: 250px;
    height: auto;
    overflow-y: auto;
    font-size: large;
}

#words-area {
    margin-top: 0px;
}

#video-title {
    font-size: large;
}

.normal {
    padding-left: 3px;
    border: none;
    text-decoration: none;
    transition: ease;
}

.timestamp:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 3px;
}

.current-time {
    background-color: #bfe6f370;
    border-radius: 6px;
    padding: 3px;
    padding-left: 6px;
    opacity: 1;
}

.word {
    border-radius: 3px;
    &:hover {
        cursor: pointer;
    }
}

[data-proficiency='0'] {
    background-color: lightblue;
    &:hover {
        background-color: #add8e670;
    }
}

[data-proficiency='1'] {
    background-color: #ffdd00;
    &:hover {
        background-color: #ffdd0070;
    }
}

[data-proficiency='2'] {
    background-color: #ffdd0080;
    &:hover {
        background-color: #ffdd0030;
    }
}

[data-proficiency='3'] {
    background-color: white;
    &:hover {
        background-color: lightgray;
    }
}

#location-marker {
    visibility: hidden;
    position: absolute;
    font-size: larger;
    color: red;
    transform: translate(-7px, 1px);
}

.saved-word {
    text-decoration: green underline;
    text-underline-offset: 4px;
}